html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100vh;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
      background-blend-mode: normal, multiply;
}

.wrapper {
    padding: 1em;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    margin-right: 2em;
}

h1 {
    font-size: 3em;
    margin-top: 1.5em;
}

.cta {
    display: block;
    padding: 2em 2em 2em 0;
    font-size: 1.4em;
}

img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleY(0);
    background: white;
    width: 20%;
}

@media (min-width: 650px) {
    main {
        display: flex;
        margin-top: 3em;
        position: relative;
        z-index: 3;
    }

    .wrapper {
        max-width: 950px;
        margin: 0 auto;
    }

    .left {
        padding-right: 2em;
    }

    img {
        width: 400px;
    }
}

@media (min-width: 850px) {
    .left {
        padding-right: 4em;
    }
}